*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color:#ff3333;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 95%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #3ff436;
    background: #4ff436;
    transition: 1s;
}

.infographic{
    width: 80%;
    margin: auto;
    text-align: center;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.infographic-col{
    background: #f5fff3;
}
h3{
    text-align: center;
    font-weight: 600;

}
.infographic-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width: 700px)
{
    .row{
        flex-direction: column-reverse; 
    }
}

.education
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.education-col
{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

.education-col img{
    width: 100%;

}

.contactme{
    min-height: 100vh;
    width: 100%;
    background-color:#ff3333;
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 95%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);

}

.footer{
    width: 100%;
    text-align: center;
    padding-top: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
